<%- layout('layout/boilerplate') %>

<div class="row">
  <h1 class="text-center">New campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds"
      method="post"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <!-- campground[title], campground[location] will group title and location in a campground object -->
      <!-- parsed data: { campground: { title: 'asdf', location: 'asdf' } } -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid Title.</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          id="location"
          class="form-control"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid Location.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Add Image(s)</label>
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          multiple
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid Image URL.</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            name="campground[price]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide a valid Price.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          id="description"
          class="form-control"
          name="campground[description]"
          rows="5"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid Description.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success" type="submit">Create campground</button>
      </div>
      <a href="/campgrounds">Back</a>
    </form>
  </div>
</div>
